input {
  border: none;
  height: 35px;
  width: 93%;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 1px;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

form > input {
  padding-left: 0;
}
