.header {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: none;
  border-radius: 3px;
  margin-top: 32px;
  height: 60px;
}

.header > .thumbnail-img > img {
  width: 30px;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 3px;
  margin-right: 8px;
}

.username {
  font-weight: 500;
}
