.likes-container {
  height: 30px;
  padding: 16px;
  padding-bottom: none;
  border: 1px solid lightgray;
  border-top: none;
  border-bottom: none;
  font-weight: 500;
}

.icons {
  margin-bottom: 10px;
}

.likes-container > .icons > .fa-heart {
  margin-right: 20px;
}

.likes-container > .icons > .fa-comment {
  transform: scaleX(-1);
}

.likes {
  font-size: 0.95rem;
}
